<html>

<head>
    <link rel="stylesheet" href="../styles/main-style.css">
    <link rel="stylesheet" href="../styles/super-style.css">
    <!-- <link rel="stylesheet" href="../styles/logged-style.css"> -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap-glyphicons.css">
    <script src="../jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../js/meme-script.js"></script>
</head>

<body>
    <div>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="/" id="logo">
                            <img id="logo" src="../resources/logo.png"/>
                        </a>

                        <!--<form method = post action = home>
                            <input type = "image" id = logo src = resources/logo.png>
                        </form>-->
                    </li>
                    <li>
                        {{#if user}}
                        <button id="add_meme" data-toggle="modal" data-target="#uploadModal">ADD A MEME</button>
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown">
                                    <img id="profile-pic" src="../user/photo/{{user.profilepicture}}">
                                </button>
                            <div class="dropdown-menu" role="menu" aria-labelledby="user-menu">
                                <a class="dropdown-item" href="../user/userPage">Profile</a>
                                <!-- <a class="dropdown-item" data-toggle="modal" data-target="#uploadModal">Add Meme</a> -->
                                <a class="dropdown-item" id="sign-out" href="../user/signout">Sign-Out</a>
                            </div>
                        </div>
                        {{else}}
                        <a id="sign_up" href="../user/loginPage">
                            LOGIN</a>
                        <!--
                        <form method = post action = login>
                            <input type = submit id = sign_up value = LOGIN>
                        </form>
-->
                        {{/if}}
                    </li>
                    <li>
                        <div id="search">
                            <form id=search action=../tags/search method=get>
                                <input id="search-input" type="text" placeholder="Search Tags" name="searchinput" />
                                <!--<a href="main-cat.html" class="submit-button">
                                    <i class="fa fa-search"></i>
                                </a>-->
                                <!-- <input class=submit-button type=submit value=Search> -->
                                <input class="searchicon" src="../resources/search.png" type="image">
                            </form>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="main">
        <!-- <h1>Public</h1> -->
        <div class="images">
            <div class="row justify-content-md-center">
                <div class="col col-lg-3" id="column0">
                    {{#each col1}}
                    <!--                            // this is where to place the meme-->
                    <img class="memePic" id="{{this._id}}" data-toggle="modal" src="../meme/photo/{{this.image}}"> {{/each}}
                </div>
                <div class="col col-lg-3" id="column1">
                    {{#each col2}}
                    <img class="memePic" id="{{this._id}}" data-toggle="modal" src="../meme/photo/{{this.image}}">
                    <!--                        // this is where to place the meme -->
                    {{/each}}
                </div>
                <div class="col col-lg-3" id="column2">
                    {{#each col3}}
                    <img class="memePic" id="{{this._id}}" data-toggle="modal" src="../meme/photo/{{this.image}}">
                    <!--                        // this is where to place the meme -->
                    {{/each}}
                </div>
            </div>
        </div><br/><br/><br/> {{#if user}}
        <h1>Shared with you</h1>
        <div class="images">
            <div class="row justify-content-md-center">
                <div class="col col-lg-3" id="column0">
                    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/365/839/24d.png" data-toggle="modal" data-target="#memeModalLoggedIn">
                    <div class="modal fade" id="memeModalLoggedIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">I agree

                                        <span class=p rivatestamp>
                                            PRIVATE
                                        </span>
                                    </h5>
                                    <div class="modal-subheading">By <a href="userPage">admin</a>
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <img class="meme" src="https://i.kym-cdn.com/photos/images/newsfeed/001/365/839/24d.png" />
                                    <span class="description">I love pussy</span>
                                    <br/>
                                    <hr>
                                    <div class="tagAdder">
                                        <span>Add Tags:</span>
                                        <input type="text" placeholder="Separate tags with a comma" />
                                        <button type="button" class="btn btn-default">Add</button>
                                    </div>
                                    <div class="editDescription">
                                        <span>Edit Description:</span>
                                        <input type="text" placeholder="Enter new description here" />
                                        <button type="button" class="btn btn-default update-description">Update</button>
                                    </div>
                                    <div class="shareMeme">
                                        <span>Shared With:</span> <br/>
                                        <span>mr_bizcuit</span> <br/>
                                        <span>Jdelbz</span> <br/>
                                        <input type="text" placeholder="Add users to share with" />
                                        <button type="button" class="btn btn-success share-meme">Add</button>
                                    </div>
                                    <div class="deleteMeme">
                                        <button type="button" class="btn btn-danger" class="btnDelete">Delete</button>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="tags">
                                        <div>Tags: </div>
                                        <div><a href="search">Cute</a>, </div>
                                        <div><a href="search">Hot</a>, </div>
                                        <div><a href="search">Cat</a></div>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3" id="column1">

                </div>
                <div class="col col-lg-3" id="column2">
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <!--Uploading a Meme-->
    <form id="uploadMeme" action="../meme/uploadMeme" enctype="multipart/form-data" method="post">
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload a Meme</h5>
                    </div>
                    <div class="modal-body">
                        <div class="title">
                            <span>Meme Title: </span>
                            <input id="memeTitle" type="text" name="title">
                        </div>
                        <br>
                        <div class="upload-photo">
                            <span>Choose a photo: </span>
                            <input type="file" name="meme" />
                        </div>
                        <br/>
                        <div class="tagAdder">
                            <span>Add Tags:</span>
                            <input type="text" name="tags" placeholder="Separate tags with a comma" />
                        </div>
                        <div class="editDescription">
                            <span>Set Description:</span>
                            <textarea rows="4" cols="50" name="desc"></textarea>

                        </div>
                        <div class="statusChk">
                            <input type="checkbox" id="publicChk" name="status">
                            <label>Public</label>
                        </div>
                        <div id="shareUpload">
                            <span>Share With:</span>
                            <input type="text" placeholder="Separate with a comma" name="shared" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Upload" />
                        <!--                        <button type="button" class="btn btn-primary" id="uploadbtn">Upload</button>-->
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="modalMeme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <div class="modal-subheading">By <form method=post action=../user/userProfile>
                        <input type = submit id="ownerName" name="owner" value=""/>
                        </form>
                    </div>
                </div>
                <div class="modal-body">
                    <img class="meme" id="memeImg" src="" />
                    <span class="description" id="memeDesc">I love pussy</span>
                    <br/>
                    <hr>
                    <div class="modal-footer">
                        <div class="tags" id="memeTags">
                            <div>Tags:</div>
                            <div class="memetag"><a href="">NSFW</a></div>

                            <div class="memetag"><a href="">Bastos</a></div>

                            <div class="memetag"><a href="">Cat</a></div>

                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    //Makes sure functions only run when document is ready
    $(document).ready(function() {
        $(document).on("click", "img.memePic", function() {
            console.log("clicked: " + this.id)
            $.ajax({
                url: "../meme/getMeme",
                method: "post",
                data: {
                    memeid: this.id
                },
                success: function(newdoc) {
                    var title = document.createTextNode(newdoc.title)
                    console.log($("h5#exampleModalLabel").val())
                    $("h5#exampleModalLabel").text(newdoc.title)
                    if (newdoc.status == "Private") {
                        var privateSpan = document.createElement("span")
                        $(privateSpan).addClass("privatestamp")
                        var spanText = document.createTextNode("PRIVATE")
                        $(privateSpan).append(spanText)
                        $("h5#exampleModalLabel").append(privateSpan)
                    } else {
                        if ($(".privatestamp")) {
                            $(".privatestamp").remove()
                            console.log("I have removed private")
                        }
                    }
                    $("#ownerName").attr("value",newdoc.owner)
                    $("#memeImg").attr("src", "../meme/photo/" + newdoc.image)
                    $("#memeDesc").text(newdoc.description)
                    $("#memeTags").empty()
                    var taglabel = document.createTextNode("Tags: ")
                    $("#memeTags").append(taglabel)
                    for(var i=0; i<newdoc.tags.length; i++){
                        var tagDiv = document.createElement("div")
                        $(tagDiv).addClass("memeTag")
                        var tagLink = document.createElement("a")
                        $(tagLink).attr("href","")
                        if(i==newdoc.tags.length-1){
                            $(tagLink).text(newdoc.tags[i])
                        }
                        else{
                            $(tagLink).text(newdoc.tags[i]+",")
                        }
                        $(tagDiv).append(tagLink)
                        $("#memeTags").append(tagDiv)
                    }
                }
            })
            $("#modalMeme").modal('show')
        });


        $("button#uploadbtn").click(function() {
            //            console.log("Upload Pressed")
            //            $.ajax({
            //                url: "../meme/uploadMeme",
            //                method: "post",
            //                enctype: 'multipart/form-data',
            //                processData: false,
            //                contentType: false,
            //                cache: false,
            //                data:{
            //                    title: $("input[name=title]").val(),
            //                    desc: $("input[name=desc]").val(),
            //                    tags: $("input[name=tags]").val().split(","),
            //                    status: $("input[name=status]").val(),
            //                    meme: $("input[name=meme]").val(),
            //                    shared: $("input[name=shared]").val().split(",")
            //                },
            //                success: function(newMeme){
            //                    console.log(newMeme)
            //                }
            //                
            //            })
        })
    });

</script>

</html>
