<html>

<head>
    <link rel="stylesheet" href="../styles/main-style.css">
    <link rel="stylesheet" href="../styles/super-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../js/meme-script.js"></script>
</head>

<body>
    <div>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="/" id="logo">
                            <img id="logo" src="../resources/logo.png"/>
                        </a>
                        <a id = "about" href="/about">
                            About
                        </a>
                    </li>
                    <li>
                        {{#if user}}
                        <button id="add_meme" data-toggle="modal" data-target="#uploadModal">Upload</button>
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown">
                                    <img id="profile-pic" src="../user/photo/{{user.profilepicture}}">
                                </button>
                            <div class="dropdown-menu" role="menu" aria-labelledby="user-menu">
                                <a class="dropdown-item profileBox">
                                    <form method=post action="../user/{{user.username}}">
                                        <input type=submit value="Profile" id="userProfile" />
                                    </form>
                                </a>
                                <!-- <a class="dropdown-item" data-toggle="modal" data-target="#uploadModal">Add Meme</a> -->
                                <a class="dropdown-item" id="sign-out" href="../user/signout">Sign-Out</a>
                            </div>
                        </div>

                        {{else}}
                        <a id="sign_up" href="../user/loginPage">
                            LOGIN</a>
                        <!--
                        <form method = post action = login>
                            <input type = submit id = sign_up value = LOGIN>
                        </form>
-->
                        {{/if}}
                    </li>
                    <li>
                        <div id="search">
                            <form id=search action=../tags/search method=get>
                                <input id="search-input" type="text" placeholder="Search Tags" name="searchinput" />
                                <!--<a href="main-cat.html" class="submit-button">
                                    <i class="fa fa-search"></i>
                                </a>-->
                                <!-- <input class=submit-button type=submit value=Search> -->
                                <input class="searchicon" src="../resources/search.png" type="image">
                            </form>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="main">
        <h1>
            {{error}} {{tag}}
        </h1>
        <div class="images">
            <div class="row justify-content-md-center">
                <div class="col col-lg-3" id="column0">
                    {{#each col1}}
                    <!--// this is where to place the meme-->
                    <img class="memePic" id="{{this._id}}" data-toggle="modal" src="../meme/photo/{{this.image}}"> {{/each}}
                </div>
                <div class="col col-lg-3" id="column1">
                    {{#each col2}}
                    <img class="memePic" id="{{this._id}}" data-toggle="modal" src="../meme/photo/{{this.image}}">
                    <!--                        // this is where to place the meme -->
                    {{/each}}
                </div>
                <div class="col col-lg-3" id="column2">
                    {{#each col3}}
                    <img class="memePic" id="{{this._id}}" data-toggle="modal" src="../meme/photo/{{this.image}}">
                    <!--                        // this is where to place the meme -->
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <!--
        <div class="modal fade" id="memeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Before and after Jakol</h5>
                <div class="modal-subheading">By mr_bizcuit</div>
              </div>
              <div class="modal-body">
                <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/04/5acb63d83493f__700-png.jpg"/>
                <span class="description">I calm down every time.</span>
              </div>
              <div class="modal-footer">
                  <div class="tags">
                    <div>Tags:</div>
                    <div class="memetag"><a href="">NSFW</a><button type="button" style="display: none;">x</button>, </div>
                    
                    <div class="memetag"><a href="">Bastos</a><button type="button" style="display: none;">x</button>, </div>
                    
                    <div class="memetag"><a href="">Cat</a><button type="button" style="display: none;">x</button></div>
                    
                  </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
-->
    <form id="uploadMeme" action="../meme/uploadMeme" enctype="multipart/form-data" method="post">
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Upload a Meme</h5>
                    </div>
                    <div class="modal-body">
                        <div class="title">
                            <span>Meme Title: </span>
                            <input id="memeTitle" type="text" name="title">
                        </div>
                        <br>
                        <div class="upload-photo">
                            <span>Choose a photo: </span>
                            <input type="file" name="meme" />
                        </div>
                        <br/>
                        <div class="tagAdder">
                            <span>Add Tags:</span>
                            <input type="text" name="tags" placeholder="Separate tags with a comma" />
                        </div>
                        <div class="editDescription">
                            <span>Set Description:</span>
                            <textarea rows="4" cols="50" name="desc"></textarea>

                        </div>
                        <div class="statusChk">
                            <input type="checkbox" id="publicChk" name="status">
                            <label>Public</label>
                        </div>
                        <div id="shareUpload">
                            <span>Share With:</span>
                            <input type="text" placeholder="Separate with a comma" name="shared" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Upload" />
                        <!--                        <button type="button" class="btn btn-primary" id="uploadbtn">Upload</button>-->
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="modalMeme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <div class="modal-subheading">By
                        <form method=post action=../user/userProfile id="userForm">
                            <input type=submit id="ownerName" name="owner" value="" />
                        </form>
                    </div>
                </div>
                <div class="modal-body">
                    <img class="meme" id="memeImg" src="" />
                    <span class="description" id="memeDesc"></span>
                    <br/>
                    <div class="modal-footer">
                        <div class="tags" id="memeTags">
                            <div class="memetag"><a href="">NSFW</a></div>

                            <div class="memetag"><a href="">Bastos</a></div>

                            <div class="memetag"><a href="">Cat</a></div>
                        </div>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    //Makes sure functions only run when document is ready
    $(document).ready(function() {
        $(document).on("click", "img.memePic", function() {
            console.log("clicked: " + this.id)
            $.ajax({
                url: "../meme/getMeme",
                method: "post",
                data: {
                    memeid: this.id
                },
                success: function(newdoc) {
                    var title = document.createTextNode(newdoc.title)
                    console.log($("h5#exampleModalLabel").val())
                    $("h5#exampleModalLabel").text(newdoc.title)
                    if (newdoc.status == "Private") {
                        var privateSpan = document.createElement("span")
                        $(privateSpan).addClass("privatestamp")
                        var spanText = document.createTextNode("PRIVATE")
                        $(privateSpan).append(spanText)
                        $("h5#exampleModalLabel").append(privateSpan)
                    } else {
                        if ($(".privatestamp")) {
                            $(".privatestamp").remove()
                            console.log("I have removed private")
                        }
                    }
                    $("#userForm").attr("action","../user/"+newdoc.owner)
                    $("#ownerName").attr("value", newdoc.owner)
                    $("#memeImg").attr("src", "../meme/photo/" + newdoc.image)
                    $("#memeDesc").text(newdoc.description)
                    $("#memeTags").empty()
//                    var taglabel = document.createTextNode("Tags: ")
//                    $("#memeTags").append(taglabel)
                    for (var i = 0; i < newdoc.tags.length; i++) {
                        var tagDiv = document.createElement("div")
                        $(tagDiv).addClass("memeTag")
                        var tagLink = document.createElement("a")
                        $(tagLink).attr("href", "")
                        if (i == newdoc.tags.length - 1) {
                            $(tagLink).text("#" + newdoc.tags[i])
                        } else {
                            $(tagLink).text("#" + newdoc.tags[i] + ",")
                        }
                        $(tagDiv).append(tagLink)
                        $("#memeTags").append(tagDiv)
                    }
                }
            })
            $("#modalMeme").modal('show')
        });
         $('#publicChk').change(function(){
            if(this.checked){
                $('#shareUpload').hide();
            } else {
                $('#shareUpload').show();
            }
        })
    });

</script>

</html>
