<html>
    <head>
    <link rel="stylesheet" href="../styles/user-style.css" />
    <link rel="stylesheet" href="../styles/super-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="../js/meme-script.js"></script>

</head>

<body>
    <div>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="/" id="logo">
                            <img id="logo" src="../resources/logo.png"/>
                        </a>
                        <!--<form method = post action = home>
                            <input type = "image" id = logo src = resources/logo.png>
                        </form>-->
                    </li>
                    <li>
                         {{#if user}}
                            <div class="dropdown">
                                <button class="btn btn-link dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown">
                                <img id="profile-pic" src="../user/photo/{{user.profilepicture}}">
                                </button>
                                <div class="dropdown-menu" role="menu" aria-labelledby="user-menu">
                                    <a class="dropdown-item" href="../userPage">Profile</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#uploadModal">Add Meme</a>
                                    <a class="dropdown-item" id="sign-out" href="../signout">Sign-Out</a>
                                </div>
                            </div>
                        {{else}}
                            <a id="sign_up" href="">
                            LOGIN</a>
                        {{/if}}
                    </li>
                    <li>
                        <div id="search">
                            <div id="search">
                            <form id = search action = ../tags/search method = get>
                                <input id="search-input" type="text" placeholder="Search Tags" name = "searchinput" />
                                <!--<a href="main-cat.html" class="submit-button">
                                    <i class="fa fa-search"></i>
                                </a>-->
                                <input class = submit-button type = submit value = Search>
                            </form>
                        </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <button id="view-more" class="btn btn-success">View more</button>
    </div>
    <!--Uploading a Meme-->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload a Meme</h5>
                </div>
                <div class="modal-body">
                    <div class="title">
                        <span>Meme Title: </span>
                        <input id="memeTitle" type="text">
                    </div>
                    <br>
                    <div class="upload-photo">
                        <span>Choose a photo: </span>
                        <input type="file" />
                    </div>
                    <br/>
                    <div class="tagAdder">
                        <span>Add Tags:</span>
                        <input type="text" placeholder="Separate tags with a comma" />
                    </div>
                    <div class="editDescription">
                        <span>Set Description:</span>
                        <textarea rows="4" cols="50"></textarea>

                    </div>
                    <div class="statusChk">
                        <input type="checkbox" id="publicChk" onclick="isPublic()">
                        <label>Public</label>
                    </div>
                    <div id="shareUpload">
                        <span>Share With:</span>
                        <input type="text" placeholder="Separate with a comma" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <div class="avatar-div">
        <img class="user-avatar" alt="Card image cap" src="../user/photo/{{user.profilepicture}}">
    </div>
<!--
    {{#if user}}
        <div class = editProfile>
            <a href="">Edit Profile</a>
        </div>
    {{/if}}
-->
    <div class="user-body">
        <h2 class="username">{{user.username}}</h2><br/>
        <p class="user-description">{{user.description}}</p>
        <h4 class="meme-header">Memes Posted</h4>
        <div class="images">
            <div class="row-justify-content-md-center">
                <div class="col col-lg-3" id="column0">

                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />

                </div>
                <div class="col col-lg-3" id="column1">
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />

                </div>
                <div class="col col-lg-3" id="column2">
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" data-toggle="modal" data-target="#memeModalLoggedIn" />

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="memeModalLoggedIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">As pretty as a Cat
                        <span class = privatestamp>
                            PRIVATE
                        </span>
                    </h5>
                    <div class="modal-subheading">By <a href="userPage">Durstnt</a></div>
                </div>
                <div class="modal-body">
                    <img class="meme" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" />
                    <span class="description">I love pussy</span>
                    <br/>
                    <hr>
                    <div class="tagAdder">
                        <span>Add Tags:</span>
                        <input type="text" placeholder="Separate tags with a comma" />
                        <button type="button" class="btn btn-default">Add</button>
                    </div>
                    <div class="editDescription">
                        <span>Edit Description:</span>
                        <textarea rows="4" cols="50"></textarea>
                        <button type="button" class="btn btn-default update-description">Update</button>
                    </div>
                    <div class="shareMeme">
                        <span>Shared With:</span> <br/>
                        <span>mr_bizcuit</span> <br/>
                        <span>Jdelbz</span> <br/>
                        <input type="text" placeholder="Add users to share with" />
                        <button type="button" class="btn btn-success share-meme">Add</button>
                    </div>
                    <div class="deleteMeme">
                        <button type="button" class="btn btn-danger" class="btnDelete">Delete</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="tags">
                        <div>Tags: </div>
                        <div><a href="search">Cute</a>, </div>
                        <div><a href="search">Hot</a>, </div>
                        <div><a href="search">Cat</a></div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</body>

<script>
    //removes share with if meme is public
    function isPublic() {
        var checkbox = document.getElementById("publicChk");
        var share = document.getElementById("shareUpload");

        if (checkbox.checked == true) {
            share.style.display = "none";
        } else {
            share.style.display = "block";
        }
    }

    $(document).ready(function() {

        //Adds remove button on hover and removes on leave
        $(".modal-footer .tags .memetag").on('mouseenter', function() {
            $(this).find(":button").show();
            console.log("in");
        }).on('mouseleave', function() {
            $(this).find(":button").hide();
            console.log("out");
        });
    });
</script>
</html>